[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = master
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = master
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/Base64.sol"]
	path = lib/Base64.sol
	url = https://github.com/BlockChainCaffe/Base64.sol
[submodule "lib/mezzanote-sale"]
	path = lib/mezzanote-sale
	url = https://github.com/threesigmaxyz/mezzanote-sale
